<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Prevent clicking "enter key"  to submit form-->
    <script>$(document).ready(function() {
        $(window).keydown(function(event){
          if(event.keyCode == 13) {
            event.preventDefault();
            return false;
          }
        });
      });
    </script>

<!-- <script>
    document.getElementById("user-input").addEventListener("submit", function(event){
      event.preventDefault()
    });
    </script> -->
    <title>Very cool currency converter!</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Very cool currency converter!</h1>
  </div>
</div>

<h6 style= "text-align:center;">This program converts MYR to USD, JPY or SGD!</h6>
<p style= "text-align:center;">What's your MYR amount?</p>

<!-- Mistake here -->
<form action="/convert" method="POST" name="x"> <!--should not have used "name" in form but instead "name" to input-->
  <div class="form-row justify-content-center">
    <div class="col-3">

      <input type="number" name="amount" class="form-control" placeholder="RM"> <!-- once added name for input here, problem solved -->

    </div>
  </div>


<p style= "text-align:center;">Please select your currency</p>


  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <button type="submit" name="btn-val" class="btn btn-light btn-lg btn-block" id="usd" value="USD">US Dollar (USD)</button>
      </div>
      <div class="col-sm text-center">
        <button type="submit" name="btn-val" class="btn btn-light btn-lg btn-block" id="jpy" value="JPY">Japanese Yen (JPY)</button>
      </div>
      <div class="col-sm text-center">
        <button type="submit" name="btn-val" class="btn btn-light btn-lg btn-block" id="sgd" value="SGD">Singapore Dollar (SGD)</button>
      </div>
    </div>
  </div>
</form>


<textarea readonly id="anything" placeholder="Result will be displayed here">{{ conversion }}</textarea>
</body>
</html>

